body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#center-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  box-shadow: 0px 2px 10px #000;
  padding: 5%;
  max-width: 40%;
}

#wifi-credentials-box {
  display: flex;
  flex-direction: column;
}

#wifi-credentials-submit-button {
  cursor: pointer;
}

#ssid-input {
  margin-bottom: 10px;
}

#password-input {
  margin-bottom: 10px;
}
